Overview
=========================================================================================
SafeDeposit system provides infrastructure that enables users to deposit and withdraw their valuable items.
System consists of storage units with 3 different volume offerings. 
During registration , user specifies the volume and duration they request and charged
based on these parameters. Access to storage units are password protected.System will notify users to renew their lease before expiration.
If a lease expires , contents of the storage units are discarded.Safe deposit system has to be fault tolerant and support reliable operation 
in the event of power loss for at least XX hours.


Abbrevations
=========================================================================================
(SD) : SafeDeposit



Functional Requirements
=========================================================================================


SafeDeposit system shall provide storage units to the registered users.

Users shall be able to deposit to storage units.

Users shall be able to withdraw from storage units.

SD System shall offer largest minimum volume of storage unit that satisfies user`s request.

Users shall opt for larger storage  units.

Storage unit doors shall be locked/unlocked with a unit ID and password combination.

Storage unit doors shall be locked/unlocked with  unit ID and master password combination.

Only SD staff with admin privillige shall access to Master password.

Unit  ID and password shall be entered via a terminal unit with in the immediae vicinity of storage unit area.

Terminal unit shall have a display.

When a storage unit is accessed , terminal unit shall display the information about the lease expire day regarding given storage unit.

SD system shall reminder  user`s for renewal the lease.

Expired leases shall be terminated by removing the contents of the storage area for safe disposal.

SD system shall provide 24 hours phone support

In the event of a power loss SD system shall remain fully functional at least for TBD hours.

Terminal unit software shall support OTA.

SD system shall keep record operational metrics such as capacity  , available storage units ,  lease times  , storage unit access history, TBD

SD admin privilage shall be able to retrieve operational metric reports.

SD admin shall access to report using modern web browser.


Non functional Requirements
=========================================================================================

Disposal of items shall adhere to TBD.

Password shall adhere to NIST 800-53 guideline.

Terminal unit shall support TBD languages.





