Functional

Users shall be deposit their valuables to a storage

Users shall be able to withdraw their valuables from a storage

Users shall be able to specify a secure password for their storage

Users shall access only their storage.

Users shall register to SafeDeposit sytem prior to deposit to the storage.

Users shall provide aprroximate volume they intent to allocate from SafeDeposit system.


Users shall provide a password and user name during registration process. 

Password shall adhere to NIST 800-53 secure password guideline.

Access to storage shall be via login terminal. 

Users shall be able to only reset their password using a secure key


System shall provide the storage are that satisfies volume requirements for the user.

User shall ask for more storage from the system.




Non Functional
User password should adhere to strong password rules

Key should adhere to strong password rules
Key can not be same with password



Appendix

Strong password rules are
 
- at least 10 characters (and up to 100 characters)
- 5 or more unique characters
- at least 3 of the following: uppercase, lowercase, numeric, or special characters.  
    The allowed special characters are ~ ! @ # $ % ^ * - _ = + [ { ] } / ; : , . ? 
- can not contain spaces
